@model EmployeeMVC.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title text-center mb-4">Update Employee Details</h4><hr />
        <div class="row">
            <div class="mx-auto col-lg-8">
                @using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
                {
                    <div class="form-group mb-3">
                        @Html.HiddenFor(model => model.EmpId, new { @class = "form-control" })
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label fw-bold" })
                                <span class="text-danger fw-bold">*</span>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Your Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger fw-bold" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Mobile, new { @class = "control-label fw-bold" })
                                <span class="text-danger fw-bold">*</span>
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "Enter Mobile Number" })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger fw-bold" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label fw-bold" })
                                <span class="text-danger fw-bold">*</span>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Email Address" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger fw-bold" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label" })
                                <span class="text-danger fw-bold">*</span>
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"),
                               "--Select--", new { @class = "form-control", id = "Department" })
                                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger fw-bold" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    @Html.LabelFor(model => model.DesignationId, new { @class = "control-label" })
                                    <span class="text-danger fw-bold">*</span>
                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.Designations, "Value", "Text"),
                                   "--Select--", new { @class = "form-control", id = "Designation" })
                                    @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger fw-bold" })
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                    <div class="form-group text-end">
                        <input type="submit" value="Update" class="btn btn-primary" style="width: 120px;" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
    $(document).ready(function () {
        $("#Department").change(function () {
            var departmentId = $(this).val();
            if (departmentId == "") {
                var designationDropdown = $("#Designation");
                designationDropdown.empty();
                designationDropdown.append($('<option></option>').val('').text('--Select--'));
            }

            $.ajax({
                url: '@Url.Action("GetDesignations", "Employee")',
                type: 'GET',
                data: { id: departmentId },
                dataType: 'json',
                success: function (data) {
                    var designationDropdown = $("#Designation");
                    designationDropdown.empty();
                    designationDropdown.append($('<option></option>').val('').text('--Select--'));
                    $.each(data, function (index, item) {
                        designationDropdown.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                },
                error: function () {

                }
            });
        });
    });
    </script>

}